* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

.a_tag {
    text-decoration: none;
}


/* Contenido del encabezado */

#encabezado {
    margin-bottom: 30px;
    background-color: #343a40;
}

#banner {
    width: 100%;
    height: 130px;
}

#texto_nav {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20pt;
    margin-right: auto;
}


/* Contenido del login */

.login {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    padding: 5px;
    /* border: solid 1px red; */
    text-align: left;
}

.boton_login {
    margin-left: 85px;
}


/* Contenido del pie de pagina */

#pie {
    background-color: #343a40;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    padding: 45px;
    color: #f2f8f9;
}


/* Contenido dashboard */

#dashboard_main {
    width: 100%;
    margin-top: 20px;
    padding-left: 5%;
    /* border: solid 1px red; */
}

#inner_dash {
    width: 85%;
    margin: auto;
    /* border: solid 1px blue; */
}

.custom_card {
    width: 18rem;
    height: 300px;
}

.custom_card:hover {
    transform: scale(1.03);
    transition: 0.4s;
}

.img_dash {
    width: auto;
    height: 180px;
}


/* Contenido usuarios */

#usuarios {
    padding: 15px 10%;
    text-align: center;
}

.usr_header {
    font-size: 16pt;
    font-weight: bold;
}

.campos_usr {
    margin-bottom: 5px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.7);
    padding: 5px 0;
}


/* contenido alumnos */

#alumnos {
    padding: 0px 10%;
    /* border: solid 1px blue; */
}

.campos_alumno {
    margin-bottom: 7px;
    border-bottom: solid 0.5px #cecece;
}

.label_modal_alumno {
    font-weight: bold;
}


/* Contenido preguntas */

.preguntas {
    border: solid 1px red;
    padding: 0px 10%;
}